{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Supprimer une équipe - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header"> Supprimer une localisation défaut</h2>

  <div class="well">
    <form method="post" action="{{ path('gmao_moulage_supprimer_loc_defaut', {'id': locDefaut.id}) }}"  >
      Êtes-vous sûr de vouloir supprimer définitivement cette localisation défaut?
      <button type="submit" class="negative ui button" >Valider</button>
    </form>
  </div>

  <p>
    <a href="{{ path('gmao_moulage_liste_loc_defaut') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste localisation défaut
    </a>
  </p>


{% endblock %}
