{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Supprimer une référence - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header"> Supprimer une référence</h2>

  <div class="well">
    <form method="post" action="{{ path('gmao_moulage_supprimer_reference', {'id': reference.id}) }}"  >
      Êtes-vous sûr de vouloir supprimer définitivement cette référence?
      <button type="submit" class="negative ui button" >Valider</button>
    </form>
  </div>

  <p>
    <a href="{{ path('gmao_moulage_liste_reference') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste référence
    </a>
  </p>


{% endblock %}
