{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block tittle %}
  Ajouter - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header" > Ajouter nature défaut </h2>

    {% include "GmaoMoulageBundle:DefautNiveau2:formulaire.html.twig" %}

{% endblock %}
