{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Supprimer type de défaut - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header"> Supprimer le type de défaut</h2>

  <div class="well">
    <form method="post" action="{{ path('gmao_moulage_supprimer_defaut_niveau1', {'id': def_niv1.id}) }}"  >
      Êtes-vous sûr de vouloir supprimer définitivement ce type de défaut?
      <button type="submit" class="negative ui button" >Valider</button>
    </form>
  </div>

  <p>
    <a href="{{ path('gmao_moulage_liste_defaut_niveau1') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste type de défaut
    </a>
  </p>


{% endblock %}
