{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block tittle %}
  Ajouter - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header" > Ajouter une FNC </h2>

    {% include "GmaoMoulageBundle:Fnc:formulaire.html.twig" %}
    
{% endblock %}
