
<div class="well">
  <form method="post">

    {{ form_errors(form) }}

    {{ form_rest(form) }}
    <button type="submit" class="btn btn-success" >Valider</button>
  </form>
</div>


{% block javascriptsss %}
	<script type="text/javascript">
		var $moule = $('#fnc_moule_fnc');
		// When sport gets selected ...
		$moule.change(function() {
		  //... retrieve the corresponding form.
	  	var $form = $(this).closest('form');
		  //Simulate form data, but only include the selected sport value.
	  	var data = {};
	  	data[$moule.attr('name')] = $moule.val();
	  	// Submit data via AJAX to the form's action path.
	  	$.ajax({
	    	url : $form.attr('action'),
	    	type: $form.attr('method'),
	    	data : data,
	    	success: function(html) {

		    	
	      	// Replace current position field ...
	      		$('#fnc_presse_fnc').replaceWith(
	        	// ... with the returned one from the AJAX response.
	        	$(html).find('#fnc_presse_fnc')
	      		);
		      //Position field now displays the appropriate positions.

			      // Replace current position field ...
	      		$('#fnc_reference_fnc').replaceWith(
	        	// ... with the returned one from the AJAX response.
	        	$(html).find('#fnc_reference_fnc')
	      		);
		      //Position field now displays the appropriate positions.
	    	}
	  	});
		});
	</script>

{% endblock %}


