{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Supprimer une FNC - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header"> Supprimer une FNC</h2>

  <div class="well">
    <form method="post" action="{{ path('gmao_moulage_supprimer_fnc', {'id': fnc.id}) }}"  >
      Êtes-vous sûr de vouloir supprimer définitivement la FNC?
      <button type="submit" class="negative ui button" >Valider</button>
    </form>
  </div>

  <p>
    <a href="{{ path('gmao_moulage_liste_fnc') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste des FNC
    </a>
  </p>


{% endblock %}
