/*h1 {
 color: #000000;
 border-bottom: solid #4F81BD 1.0pt;
 color: #17365D;
 font-style: italic;
}*/


#barre {
 background-image: url('../images/delphi_banner.png');
 background-repeat: no-repeat;
 color: #FFFFFF;
 background-color: #000000;
}

#barre .barreh7 {
 text-align: center;
 color: white;
 font-size: 40px;
}
