
<div class="well">
		{{ form_errors(form) }} {{ form_start(form) }}{{ form_rest(form) }}
		<button type="submit" class="btn btn-success">Valider</button>
</div>

{% block javascriptsss %}
	<script type="text/javascript">
		var $defautNiveau1 = $('#defaut_defautNiveau1');
		// When sport gets selected ...
		$defautNiveau1.change(function() {
		  //... retrieve the corresponding form.
	  	var $form = $(this).closest('form');
		  //Simulate form data, but only include the selected sport value.
	  	var data = {};
	  	data[$defautNiveau1.attr('name')] = $defautNiveau1.val();
	  	// Submit data via AJAX to the form's action path.
	  	$.ajax({
	    	url : $form.attr('action'),
	    	type: $form.attr('method'),
	    	data : data,
	    	success: function(html) {
	      	// Replace current position field ...
	      		$('#defaut_defautNiveau2').replaceWith(
	        	// ... with the returned one from the AJAX response.
	        	$(html).find('#defaut_defautNiveau2')
	      		);
		      //Position field now displays the appropriate positions.
	    	}
	  	});
		});
	</script>
{% endblock %}

