{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Modifier défaut - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header">Modifier défaut</h2>

  {% include "GmaoMoulageBundle:Defaut:formulaire.html.twig" %}

  <p>
    <a href="{{ path('gmao_moulage_liste_defaut') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste des défauts
    </a>
  </p>


{% endblock %}
