{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block tittle %}
  Liste - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header" > Ajouter une presse </h2>

    {% include "GmaoMoulageBundle:Presse:formulaire.html.twig" %}

{% endblock %}
