{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Modifier une presse - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header">Modifier une presse</h2>

  {% include "GmaoMoulageBundle:Presse:formulaire.html.twig" %}

  <p>
    <a href="{{ path('gmao_moulage_liste_presse') }}" class="ui orange button">
      <i class="glyphicon glyphicon-arrow-left"></i>
      Retour vers la page liste presse
    </a>
  </p>


{% endblock %}
