{% extends "GmaoMoulageBundle::layout.html.twig" %}

{% block title %}
  Supprimer une presse - {{ parent() }}
{% endblock %}

{% block body %}

  <h2 class="ui dividing header"> Supprimer une presse</h2>

  <div class="well">
    <form method="post" action="{{ path('gmao_moulage_supprimer_presse', {'id': presse.id}) }}"  >
      Êtes-vous sûr de vouloir supprimer définitivement cette presse?
      <button type="submit" class="negative ui button" >Valider</button>
    </form>
  </div>

  <p>
    <a href="{{ path('gmao_moulage_liste_presse') }}" class="ui labeled icon orange button">
      <i class="left chevron icon"></i>
      Retour vers la page liste presse
    </a>
  </p>


{% endblock %}
